
app/states prevalence.csv

app/states mortality.csv

app/Smoking_Frequency.csv

app/smokers_proportion.csv

app/population.csv

app/national_prevalence.csv

app/national_mortality.csv

app/helper_functions_plots.R

app/helper_functions_computations.R

app/ftc_cigarette_report_2014.pdf

app/consumption_tobacco_us.csv

app/CDI.csv

app/cb_2013_us_state_20m.shx

app/cb_2013_us_state_20m.shp.xml

app/cb_2013_us_state_20m.shp.iso.xml

app/cb_2013_us_state_20m.shp

app/cb_2013_us_state_20m.prj

app/cb_2013_us_state_20m.dbf

app/Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv

app/Behavioral_Risk_Factor_Data__Tobacco_Use__2010_And_Prior_.csv

app/advertising.csv

app/advertising_year_media.csv
